@import "1440"

@import "1200"

@media screen and (max-width: 1100px)

  .header
    &__link
      padding: 8px 10px
      font-size: 18px

@import "991"

@import "767"

@media screen and (max-width: 575px)
  .section9
    padding-bottom: 320px
    background: url('../img/section9/bg.webp') no-repeat right bottom/650px

  .section7
    padding: 60px 20px 320px
    background: url('../img/section7/bgM.webp') no-repeat center bottom

  .section6
    background: url('../img/section6/bg.webp') no-repeat calc(50% + 30px) bottom/650px
    padding-bottom: 270px